body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.pdf-container {
    width: 100vw; /* 100% de la largeur de la fenêtre */
    height: 100vh; /* 100% de la hauteur de la fenêtre */
}

.pdf-container embed {
    width: 100%;
    height: 100%;
}
